link(href="css/bootstrap.min.css", rel="stylesheet")
link(href="css/style.css", rel="stylesheet")

    
-var  p = ' toto'
-var fruits = ['pomme','poire','banane']

body
  section
    header.back 
      .back-text
      .stylo
      .encreur
         
  .container  
    section
      .article  
        h2 La collection
        .hr
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsum accusamus ipsa, rerum sed. Quidem ratione harum adipisci dolorum cupiditate cum eius numquam, possimus voluptatum, atque magnam quia. Fuga, sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsum accusamus ipsa, rerum sed. Quidem ratione harum
       
      
    section.pictures
      .row
        .col-md-4
          img(src="images/stylos/p1.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p2.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p3.jpg", alt="")
      .row
        .col-md-4
          img(src="images/stylos/p4.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p5.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p6.jpg", alt="")
      .row
        .col-md-4
          img(src="images/stylos/p7.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p8.jpg", alt="")
        .col-md-4
          img(src="images/stylos/p9.jpg", alt="")
    
    section
      .article   
        h2 Et vous ?
        .hr
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsum accusamus ipsa, rerum sed. Quidem ratione harum adipisci dolorum cupiditate cum eius numquam, possimus voluptatum, atque magnam quia. Fuga, sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsum accusamus ipsa, rerum sed. Quidem ratione harum
      

    section
      .cadre
        .vague1
        .vague2
        .vague3
        
        
    section
      div(style="height:2000px")
              
script(src="js/jquery-3.1.1.min.js")
script(src="js/bootstrap.min.js")
script(src="js/function.js")    
    
